
.aboutSubStory{height:340px; border-bottom:1px solid #666;}
.aboutSubStory .left{width:600px; float:left; margin-top:50px;}
.aboutSubStory .right{width:500px; float:left; margin-left:50px; color:#666;}
.aboutSubStory .right span{width:500px; float:left; line-height:30px;}
.aboutSubStory .right span.s1{font-size:36px; font-weight:bold; line-height:40px; color:#000;}
.aboutSubStory .right span.s3{margin-top:20px;}

.aboutSubJiShao{height:400px; border-bottom:1px solid #666;}
.aboutSubJiShao .right{width:1200px; float:left; }
.aboutSubJiShao .right img{width:600px; height:190px; float:right; margin-right:150px;}
.aboutSubJiShao .left{width:1200px; float:left; color:#666; margin-top:-60px;}
.aboutSubJiShao .left span{width:1200px; float:left; line-height:30px;}
.aboutSubJiShao .left span.s1{font-size:36px; font-weight:bold; line-height:40px; color:#000; margin-bottom:30px;}
.aboutSubJiShao .left span.s3{margin-top:20px;}

.aboutCultrue{height:280px; border-bottom:1px solid #666;}
.aboutCultrue .top{float:left; width:1200px;}
.aboutCultrue .top span.title{font-size:36px; font-weight:bold; color:#000; line-height:50px; float:left; width:1200px;}
.aboutCultrue .top span.li{line-height:20px; color:#666; float:left; width:1200px;}
.aboutCultrue .bottom{height:160px; border-right:1px dashed #666; float:left; width:1200px;}
.aboutCultrue .bottom dl{width:390px; height:140px; border-left:1px dashed #666; margin-top:30px; float:left;}
.aboutCultrue .bottom dl dt{width:330px; height:50px; color:red; font-weight:bold; margin-left:30px;}
.aboutCultrue .bottom dl dd{width:360px; height:30px; line-height:30px; color:#666; margin-left:30px;}

.newsSubUl{width:390px; height:auto; float:left; margin-right:10px;}
.newsSubUl .top{width:390px; height:auto; float:left; background:red;}
.newsSubUl .top p{text-align:center; color:#fff; line-height:50px; font-weight:bold; font-size:24px;}
.newsSubUl .middle{width:390px; height:auto; float:left;}
.newsSubUl .middle img{width:390px; height:250px; float:left;}
.newsSubUl .bottom{width:390px; height:auto; float:left;}
.newsSubUl .bottom ul{list-style:none;}
.newsSubUl .bottom ul li{border-bottom:1px solid #ccc; line-height:30px;}
.newsSubUl .bottom ul li a{text-decoration:none; color:#666;}

.productSub{width:1215px; height:auto;}
.productSub ul{width:1215px; height:auto; list-style:none;}
.productSub ul li{width:385px; height:430px; float:left; margin-top:20px; margin-right:20px;}
.productSub ul li img{width:385px; height:400px; float:left; borer:1px solid #fff;}
.productSub ul li img:hover{border:1px solid #ccc;}
.productSub ul li span.title{width:385px; height:30px; line-height:30px; float:left; text-align:center; font-weight:bold; margin-top: 10px;}
.productSub ul li span.more{width:385px; height:30px; line-height:30px; float:left; text-align:center;  font-weight:bold;}
.productSub ul li span.more span{ border:1px solid #000; line-height:30px; padding:3px; letter-spacing:2px; }
.productSub ul li span.more span a{text-decoration:none; color:#000;}
.productSub ul li span a{text-decoration:none; color:#000;}

.daiLi{}
.daiLi img{ float: left; }
.daiLiTitle{}
.daiLiTitle p.h1{color:red; font-size:24px; line-height:30px; text-align:center;}
.daiLiTitle p.h2{line-height:30px; text-align:center; color:#666;}

.daiLiBigRed{text-align:center; color:red; font-size:36px; font-weight:bold;}

.bigRedTitle{text-align:center; font-size:36px; color:red; line-height:50px; font-weight:bold;}	

.bigRedTitle{text-align:center; font-size:36px; color:red; line-height:50px; font-weight:bold;}	

.jiaGongSubScri{}
.jiaGongSubScri .dian{width:30px; float:left;}
.jiaGongSubScri .scri{width:1000px; float:left; margin-left:30px;}
.jiaGongSubScri .scri p{font-size:24px; line-height:40px;}
.jiaGongSubScri .scri p.h1{}
.jiaGongSubScri .scri p.h2{margin-top:30px;}
.jiaGongSubScri .scri p.h3{margin-top:45px;}
.jiaGongSubScri .scri p.h4{margin-top:45px;}
.jiaGongSubScri .scri p.h5{margin-top:45px;}
.jiaGongSubScri .scri p.h6{margin-top:35px;}


/***contentPage**/
.marginTopBottom20{margin:20px auto;}
.contentPage{width:1200px; height:auto; }
.contentPage .left{width:800px; height:auto; float:left; margin-bottom:30px;}
.contentPage .left .nav{width:800px; height:50px; float:left; text-align:left; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.contentPage .left .nav p{margin-left:20px; font-size:16px; line-height:50px; color:#000; font-weight:bold;}
.contentPage .left .nav p a{text-decoration:none; color:#000;}
.contentPage .left .nav p a:hover{color:#666;}
.contentPage .left .title{width:800px; height:60px; line-height:30px; float:left; margin-top:50px; font-size:24px;}
.contentPage .left .title p{width:700px; margin-left:50px; text-align:center; overflow:hidden;}
.contentPage .left .title p a{text-decoration:none; color:#000;}
.contentPage .left .time{width:800px; height:20px; font-size:12px; line-height:20px; color:#000; float:left; margin-top:5px; text-align:center;}
.contentPage .left .time ul{list-style:none; width:800px; display:inline; text-align:center; float:left; margin-left:200px;}
.contentPage .left .time ul li{ float:left;}
.contentPage .left .content{width:800px; font-size:14px; line-height:25px; float:left; margin-top:30px;}
.contentPage .right{width:350px; height:auto; float:right; margin-bottom:30px;}
.contentPage .right .nav{width:350px; border-bottom:1px solid #ccc; height:40px; line-height:40px; text-align:center;}
.contentPage .right .nav p{width:100px; height:40px; background:#ccc; margin-left:130px;}
.contentPage .right .title{width:350px; height:auto; float:left; margin-top:20px;}
.contentPage .right .title ul{list-style:none; float:left;}
.contentPage .right .title ul li{list-style:none; width:350px; border-bottom:1px dashed #ccc;  float:left; line-height:40px; text-align:center;}
.contentPage .right .title ul li a{text-decoration:none; color:#000;}
.pagesTong{width:880px; height:auto; float:left; text-align:left;  overflow:hidden;}

/*list*/
.contentPage .left .list{width:800px; height:auto; float:left; text-align:left; overflow:hidden;}
.listUl li{ width:100%; overflow:hidden; clear:both; padding:12px 0px; border-bottom:1px solid #EEE; color:#000;}
.listUl li div.leftt{width:180px; height:120px; float:left;}
.listUl li div.rightt{width:580px; height:120px; float:left; margin-left:30px;}
.listUl li div.rightt a{text-decoration:none; font-size:12px; color:#000;}
.listUl li img{ width:200px; height:120px;}
.listUl li b a{ color:#555; font-size:12px;}
.listUl li a{ color:#000; font-size:12px;}
.listUl li a.preview{ width:84px; float:left; margin-right:7px; margin-bottom:3px; margin-left:10px; display:inline;}
.listUl li a.preview img{ width:80px; display:block; padding:1px; border:1px solid #EEE; }
.listUl li a.preview:hover img{ border:1px solid #AAA;}
.listUl li a.title{ overflow:hidden; line-height:25px; font-size:14px; margin-left:2px; color:#000; font-weight:normal;}
.listUl span.info{ display:block; line-height:23px; color:#555; padding-left:12px; font-size:12px;}
.listUl span.info small{ color:#AAA; font-size:12px; margin-left:3px;}
.listUl span.info a{ color:#690;}
.listUl p.intro{color:#666;line-height:20px;margin-left:5px;padding-left:10px;padding-right:10px;}

.contentPage .left .pages{width:800px; height:auto; float:left; text-align:left;  overflow:hidden;}
.pageCon ul{float:left;padding:12px 0px 12px 16px; list-style:none;}
.pageCon ul li{float:left;font-family:Tahoma;line-height:17px;margin-right:6px;border:1px solid #E9E9E9;}
.pageCon ul li a{float:left;padding:2px 4px 2px;color:#555;display:block;}
.pageCon ul li a:hover{color:#690;text-decoration:none;padding:2px 4px 2px;}
.pageCon ul li.thisclass,
.pageCon ul li.thisclass a,.pagebox ul li.thisclass a:hover{background-color:#F8F8F8;padding:2px 4px 2px;font-weight:bold;}
.pageCon .pageinfo{line-height:21px;padding:12px 10px 12px 16px;color:#999;}
.pageCon .pageinfo strong{color:#555;font-weight:normal;margin:0px 2px;}
